# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.or
*.od

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dependencies file
depend.mk

# Execution trace and analysis output
*.trace
*.log
*.csv

# Tags
tags

# Python
*.pyc
